@import '../css/variables.css';

/* src/assets/styles/global.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');


body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  font-family: 'Poppins' !important;
  background-color: var(--background-color);
  color: var(--text-color);
}
