{
  "semi": true,
  "singleQuote": true,
  "trailingComma": "es5",
  "tabWidth": 2,
  "useTabs": false,
  "printWidth": 1,
  "bracketSpacing": true,
  "arrowParens": "always",
  "endOfLine": "lf",
  "jsxSingleQuote": true,
  "htmlWhitespaceSensitivity": "ignore",
  "vueIndentScriptAndStyle": true,
  "quoteProps": "as-needed",
  "proseWrap": "always",
  "importOrder": [
    "^[./]"
  ],
  "importOrderSeparation": true,
  "jsxBracketSameLine": false
}