/* src/assets/css/variables.css */

/* Definindo variáveis de cor */
:root {
    --primary-color: #3498db; /* Azul primário */
    --secondary-color: #2ecc71; /* Verde secundário */
    --accent-color: #e74c3c; /* Cor de destaque */
    --background-color: #f4f4f4; /* Cor de fundo */
    --text-color: #292929; /* Cor do texto */
    --border-color: #ddd; /* Cor da borda */
    --header-color:#ffffff;
    --inputs-color:#d1d1d1;
    --Btns-color:#d1d1d1;
  }
  